.section-command {
  background-color: var(--backgronud-button-color);
}

.name {
  margin-bottom: 10px;
  @include font(500, 16px, 19px);
  // font-weight: 500;
  // font-size: 16px;
  // line-height: 1.18;
  color: var(--secondary-color);
}

.prof {
  @include font(400, 16px, 29px);
  // font-weight: 400;
  // font-size: 16px;
  // line-height: 1.18;
  color: var(--main-color);
  margin-bottom: 16px;
}

.name-prof {
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: center;
}
