.section-command {
  background-color: var(--backgronud-button-color);
}
.command__title {
  @include font(700, 36px, 42px);
  color: var(--secondary-color);
  text-align: center;
}
.command__list {
  width: 1200px;
  display: flex;
  gap: 30px;
}
.name {
  margin-bottom: 10px;
  @include font(500, 16px, 19px);
  color: var(--secondary-color);
}

.prof {
  @include font(400, 16px, 29px);
  color: var(--main-color);
  margin-bottom: 16px;
}

.name-prof {
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: center;
}
