.title__text {
  display: block;
  @include font(700,14px,16px);
  // font-weight: 700;
  // font-size: 14px;
  // line-height: 1.14;
  text-transform: uppercase;
  color: var(--secondary-color);
  margin-bottom: 10px;
}
